<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="mdl-card mdl-shadow--6dp" style="margin: 0 auto; width: 400px" th:fragment="add-cd">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Create CD</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="#" th:action="@{/fe/cd/create}" th:object="${cd}" method="post">
                <div style="display:block; margin-top:40px; width: 100%" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" th:field="*{name}" id="name">
                    <label class="mdl-textfield__label" for="name" th:text="'Name'" >Name</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                </div>
                <div style="display:block; margin-top:40px; width: 100%" class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" th:field="*{releasedAt}" id="date-input">
                    <label class="mdl-textfield__label" for="date-input" th:text="'Released at (dd.MM.yyyy)'" >Released at</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('releasedAt')}" th:errors="*{releasedAt}">Released at error</span>
                </div>
                <div style="display:block; margin-top:40px; width: 100%"  class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="country" th:field="*{performerId}" >
                        <option th:value="${p.id}"  th:text="${p.name}" th:each="p : ${performers}" th:selected="${p.id==1}">Performer</option>
                    </select>
                    <label class="mdl-textfield__label" for="country">Performer</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('performerId')}" th:errors="*{performerId}">Performer error</span>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" style="margin-top:60px">
                    Add CD
                </button>
            </form>
        </div>
    </div>
</html>