<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <div class="mdl-card mdl-shadow--6dp" style="margin: 0 auto; width: 400px" th:fragment="add-performer">
        <div class="mdl-card__title mdl-color--primary mdl-color-text--white">
            <h2 class="mdl-card__title-text">Create Performer</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <form action="#" th:action="@{/fe/performer/create}" th:object="${performer}" method="post">
                <div style="display:block; margin-top:40px; width: 100%" class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" th:field="*{name}" id="name-performer">
                    <label class="mdl-textfield__label" for="name-performer" th:text="'Name'" >Name</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</span>
                </div>
                <div style="display:block; margin-top:40px; width: 100%" class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" th:field="*{description}" id="description">
                    <label class="mdl-textfield__label" for="description" th:text="'Description'" >Description</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</span>
                </div>
                <div style="display:block; margin-top:40px; width: 100%" class="row mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <input class="mdl-textfield__input" type="text" th:field="*{foundationYear}" id="foundationYear">
                    <label class="mdl-textfield__label" for="foundationYear" th:text="'Foundation year'" >Foundation year</label>
                    <span style="visibility: visible" class="mdl-textfield__error" th:if="${#fields.hasErrors('foundationYear')}" th:errors="*{foundationYear}">Foundation year error</span>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" type="submit" style="margin-top:60px">
                    Add performer
                </button>
            </form>
        </div>
    </div>
</html>