<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>CD app</title>
        <script th:src="@{/webjars/material-design-lite/1.3.0/material.min.js}"></script>
        <link rel="stylesheet" th:href="@{/webjars/material-design-lite/1.3.0/material.css}">
    </head>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-color--grey-100">
        <div class="mdl-layout__drawer" th:fragment="navigation (page)">
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" th:classappend="${page == 'add_performer_and_cd_page'  ? 'mdl-navigation__link--current' : ''}"  th:href="@{/fe/add-performer-and-cd}">Add Performer and CD</a>
                <a class="mdl-navigation__link" th:classappend="${page == 'cd_table_page'  ? 'mdl-navigation__link--current' : ''}" th:href="@{/fe/cd-table}">CD table</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content" th:fragment="page-content">
            </div>
        </main>
    </div>
</html>