<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" th:fragment="cd-table">
        <thead style="">
        <tr>
            <th class = "mdl-data-table__cell--non-numeric">Performer name</th>
            <th class = "mdl-data-table__cell--non-numeric">CD name</th>
            <th class = "mdl-data-table__cell--non-numeric">Release year</th>
        </tr>
        </thead>
        <tbody style="overflow:scroll;">
        <tr th:each="c : ${cds}">
            <td class="mdl-data-table__cell--non-numeric" th:text="${c.performer.name}"></td>
            <td class="mdl-data-table__cell--non-numeric" th:text="${c.name}"></td>
            <td class="mdl-data-table__cell--non-numeric" th:text="${c.performer.foundationYear}"></td>
        </tr>
        </tbody>
    </table>
</html>